* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  background: #e6e6e6;

}

.header {
  background-color: #f7b600;
  padding: 15px;
  text-align: center;
  width: auto;
}

.navegacao_header,
.titulo {
  padding: 10px;
}

h1 {
  color: #4e4e4e;
  font-size: 2.5em;
  justify-self: center;
}

.branco {
  color: white;
}

.navegacao_header a {
  text-decoration: none;
  text-transform: uppercase;
}

.efeitos:link,
.efeitos:visited {
  color: #FFF;
  padding: 8px 12px;
}

.efeitos:hover {
  color: #f7b600;
  background: #FFF;
}

.conteudo_principal {
  width: 920px;
  background: white;
  margin: 10px auto;
  padding: 15px 25px;
}

.conteudo_principal h2,
p {
  text-align: center;
  padding: 10px;
}


.equipe {
  position: relative;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.equipe li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
}

.rodape {
  text-align: center;
  clear: both;
  padding: 30px;
  background: #CCC;
}

.conteudo_aluno {
  text-align: center;
}

.conteudo_imagem {
  align-items: center;
}

.efeitos2 {
  text-decoration: none;
  padding: 8px 12px;
}

.efeitos2:hover {
  color: white;
  background-color: #4e4e4e;
}

@media screen and (min-width: 280px) and (max-width: 1100px) {

  .conteudo_principal,
  .header,
  .rodape {
    width: auto;
  }
}